<h3>Clientes <input class="btn btn-primary" type="button" ng-click="AbrirTelaCadastro();" value="Cadastrar Usuário"></input></h3>
<br />
<br />
<div>
    
</div>
<br />
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>RG</th>
        <th>CPF</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="usuario in listaUsuarios">
        <td>{{usuario.Nome}}</td>
        <td>{{usuario.Idade}}</td>
        <td>{{usuario.CPF}}</td>
        <td>{{usuario.RG}}</td>
        <td><a href="#!/AtualizarUsuarios/{{usuario.Id}}">Edit</a></td>
        <td><a href="#" ng-click="DeleteUsuario(usuario.Id, this);">Delete</a></td>
    </tr>
</table>
